{{extend 'layout.html'}}
<body>
    <table class = 'table'>
        <thead><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/search_members'>Search</a></thead>
        <tr>
            <td></td><td>View</td><td></td>
        </tr>
        <tr>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/view_members'>Members</a></td>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/view_events'>Events</a></td>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/view_levels'>Levels</a></td>
        </tr>
        <tr>
            <td></td><td>Add</td><td></td>
        </tr>
        <tr>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/add_member'>Members</a></td>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/add_event'>Events</a></td>
            <td><a href='https://aa72d8fc89.pythonanywhere.com/dzChicago/default/add_level'>Levels</a></td>
        </tr>
    </table>
        </body>
